/* CSS Document - Developed by Fabio Rocha (https://github.com/fabiorochafg | fabiorochafg@gmail.com) */

/* Layout */
#wrapper {
    width: 100%;
}
.container {
    clear: both;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 2%;
    width: 96%;
}

/* Header */
#header {
    height: 120px;
}
#header h1 a {
    background: url(../images/logo.png) no-repeat -6px 0;
    display: block;
    height: 100px;
    text-indent: -9000px;
    width: 186px;
}
#accessibility {
    float: right;
    margin: 10px;
}
#accessibility a {
    display: block;
    height: 26px;
    text-indent: -9000px;
    width: 26px;
}
#accessibility a:hover,
#header h1 a:hover {
    opacity: 0.5;
}
#accessibility li {
    float: left;
    list-style: none;
    margin: 0 0 0 3px;
}
#accessibility .increaseFontSize {
    background: url(../images/accessibility-actions.png) no-repeat 0 0;
}
#accessibility .normalFontSize {
    background: url(../images/accessibility-actions.png) no-repeat 0 -52px;
}
#accessibility .decreaseFontSize {
    background: url(../images/accessibility-actions.png) no-repeat 0 -26px;
}
#accessibility .highContrast {
    background: url(../images/accessibility-actions.png) no-repeat 0 -78px;
}
#accesskeys {
    line-height: 0;
}
#accesskeys li {
    display: block;
    text-indent: -9000px;
}

/* Content Area */
#content {
    float: right;
    padding: 1% 0 1% 2%;
    width: 79%;
}
#content ol,
#content ul {
    padding: 0 0 10px 20px;
}
#content p {
    line-height: 1.5em;
    padding: 0 0 10px;
    text-align: justify;
}
#menu {
    float: left;
    padding: 1% 0;
    width: 19%;
}
#menu li {
    list-style: none;
}
#menu li a {
    background: #222;
    border-bottom: 1px solid #333;
    color: #fff;
    display: block;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
}
#menu li a:hover {
    background: #999;
}

/* Footer */
#footer {
    color: #666;
    padding: 20px 0;
    text-align: center;
}
#footer a {
    color: #333;
}
#footer a:hover {
    color: #666;
}

/* Classes */
.fontSize80 { font-size: 80% !important; }
.fontSize90 { font-size: 90% !important; }
.fontSize100 { font-size: 100% !important; }
.fontSize110 { font-size: 110% !important; }
.fontSize120 { font-size: 120% !important; }
.fontSize130 { font-size: 130% !important; }
.fontSize140 { font-size: 140% !important; }
.fontSize150 { font-size: 150% !important; }
.fontSize160 { font-size: 160% !important; }
.fontSize170 { font-size: 170% !important; }
.fontSize180 { font-size: 180% !important; }
.fontSize190 { font-size: 190% !important; }
.fontSize200 { font-size: 200% !important; }
.invisible-element {
    display: block;
    height: 0;
    margin: 0;
    padding: 0;
    text-indent: -9000px;
    width: 0;
}

/* High Contrast */
body.highContrast {
    background: #000000;
    color: #ffffff;
}
body.highContrast label,
body.highContrast li,
body.highContrast p,
body.highContrast td,
body.highContrast th,
body.highContrast span {
    color: #ffffff;
}
body.highContrast a,
body.highContrast abbr,
body.highContrast acronym,
body.highContrast code,
body.highContrast h2,
body.highContrast h3,
body.highContrast h4,
body.highContrast h5,
body.highContrast h6,
body.highContrast input,
body.highContrast select,
body.highContrast #menu a:hover {
    color: #99ff00;
}
body.highContrast code,
body.highContrast h1,
body.highContrast fieldset,
body.highContrast input,
body.highContrast pre,
body.highContrast select,
body.highContrast td,
body.highContrast th,
body.highContrast #menu a {
    background: #000000 none;
}
body.highContrast #header h1 a {
    background: url(../images/logo.png) no-repeat -6px -100px;
}

/* Media-queries */
@media only screen and (max-device-width: 480px), only screen and (min-device-width: 481px) and (max-device-width: 991px) and (orientation:portrait), only screen and (min-device-width: 481px) and (max-device-width: 991px) and (orientation:landscape) {
    #accessibility li {
        float: none;
    }
    #content,
    #menu {
        float: none;
        padding: 0 1%;
        width: 98%;
    }
}