/* CSS Document - Developed by Fabio Rocha (http://fabiorochafg.github.io | fabiorochafg@gmail.com) */

* {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a,
a:active {
    color: #666;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
a:hover {
    color: #333;
    text-decoration: underline;
}
body {
    font-family: sans-serif;
    font-size: 100%;
}
button,
input[type="button"],
input[type="submit"] {
    background-color: #4D7EA8;
    clear: both;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 100%;
    padding: 5px 10px;
    -webkit-appearance: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
    background: #666;
    color: #eee;
}
dd {
    float: left;
    padding: 0 0 2px;
}
dt {
    clear: left;
    float: left;
    font-weight: bold;
    margin: 0 5px 0 0;
}
fieldset {
    background: #F8F8F8;
    border: 1px solid #DDD;
    border-radius: 5px;
    clear: both;
    display: table;
    margin: 10px 0 20px;
    padding: 15px;
}
h2 {
    padding: 0 0 10px;
}
h3,
h4,
h5 {
    padding: 20px 0 10px;
}
input[type="email"],
input[type="file"],
input[type="number"],
input[type="password"],
input[type="text"] {
    border: 1px solid #ddd;
    display: block;
    font-size: 110%;
    margin: 0 0 5px;
    padding: 5px;
}
input[type="email"]:focus,
input[type="file"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
textarea:focus {
    border-color: #aaa;
}
select {
    border: 1px solid #ddd;
    height: 34px;
    margin: 0 0 5px;
}
select option {
    padding: 3px 5px;
}
select[multiple="multiple"] {
    height: auto;
}
select[multiple="multiple"] option {
    padding: 5px;
}
table {
    border-spacing: 0;
    width: 100%;
}
td,
th {
    padding: 5px;
}
tbody tr:nth-child(even) {
    background: #f1f1f1;
}
thead th {
    font-size: 105%;
    text-align: left;
}
thead tr {
    background: #999;
    color: #eee;
}
textarea {
    border: 1px solid #ddd;
    display: block;
    font-family: sans-serif;
    font-size: 100%;
    height: 130px;
    margin: 0 0 5px;
    padding: 5px;
}
ul {
    line-height: 1.5em;
}
ul ul {
    padding: 0 0 0 15px;
}

/* containers */
aside {
    float: right;
    padding: 1% 0;
    width: 19%;
}
footer,
footer a {
    color: #999;
}
footer a:hover {
    color: #ccc;
}
footer > a {
    float: right;
}
footer dl {
    float: left;
}
header h1 {
    float: left;
    margin: 0 2% 0 0;
}
header h1 a {
    background-image: url(../images/logo.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 55px;
    text-indent: -9000px;
    width: 271px;
}
header h1 a:hover {
    opacity: 0.8;
}
header nav {
    float: right;
}
header nav a {
    color: #333;
    display: block;
    float: left;
    font-size: 150%;
    font-weight: bold;
    height: 55px;
    line-height: 55px;
    margin: 0 0 0 30px;
    text-decoration: none;
}
header nav a:hover {
    color: #999;
    text-decoration: none;
}
main {
    float: left;
    padding: 1% 2% 1% 0;
    width: 79%;
}
main ol,
main ul {
    padding: 0 0 10px 20px;
}
main p {
    line-height: 1.5em;
    padding: 0 0 5px;
}

/* extra */
.accesskeys {
    line-height: 0;
}
.accesskeys li {
    display: block;
    text-indent: -9000px;
}
.box {
    margin: 0 -1%;
    overflow: hidden;
}
.box > div {
    background: #ccc;
    float: left;
    margin: 1%;
    padding: 1%;
    width: 98%;
}
.box .box12 {
    width: 98%;
}
.box .box8 {
    width: 64.6667%;
}
.box .box6 {
    width: 48%;
}
.box .box4 {
    width: 31.3333%;
}
.box .box3 {
    width: 23%;
}
.box .box2 {
    width: 14.6666%;
}
.box .box1 {
    width: 6.3333%;
}
.breadcrumbs {
    padding: 0 0 10px;
}
.container {
    clear: both;
    margin: 0 auto;
    overflow: hidden;
    padding: 3%;
    width: 100%;
}
.invisible-element {
    display: block !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    text-indent: -9000px !important;
    width: 0 !important;
}

/* Media-queries */
@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        margin: 0 !important;
        padding: 0 !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a:after {
        content: " ("attr(href)")";
    }
    a[href^="javascript:"]:after,
    a[href^="#"]:after { 
        content: ""; 
    }
    body {
        color: #000;
        font: 9pt serif;
        line-height: 1.4em;
    }
    h1 {
        width: 100%;
    }
    h1 a:after {
        content: "";
    }
    img {
        max-width: 100%;
    }
    p {
        orphans: 3;
        widows: 3;
    }
    p a {
        word-wrap: break-word;
    }
}
@media screen and (max-width: 1024px) {
    main,
    aside {
        display: inline-block;
        float: none;
        padding: 0 0 2%;
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    h1 {
        float: left;
        margin: 0;
        width: 100%;
    }
    h1 a {
        background-position: center 0;
        width: 100%;
    }
    nav {
        display: inline-block;
        float: none;
        padding: 2% 0 4%;
        width: 100%;
    }
    nav a {
        height: 50px;
        line-height: 50px;
        margin: 0;
        text-align: center;
        width: 100%;
    }
}
@media only screen and (max-device-width: 480px), only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait), only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    nav a {
        font-size: 120%;
    }
}
