/* CSS Document - Developed by Fabio Rocha (http://fabiorochafg.github.io | fabiorochafg@gmail.com) */

/* base */
:root {
    --black-color: #333;
    --grey-color: #666;
    --medium-grey-color: #ddd;
    --light-grey-color: #eee;
    --white-color: #fff;
    --default-inner-margin: 25px;
    --default-margin: 50px;
    --header-height: 55px;
}
* {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a,
a:active {
    color: var(--grey-color);
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
a:hover {
    color: var(--black-color);
    text-decoration: underline;
}
body {
    font-family: sans-serif;
    font-size: 100%;
}
dd {
    float: left;
    padding: 0 0 2px;
}
dt {
    clear: left;
    float: left;
    font-weight: 600;
    margin: 0 5px 0 0;
}
h2 {
    padding: 0 0 10px;
}
h3,
h4,
h5 {
    padding: 20px 0 10px;
}
table {
    border-spacing: 0;
    width: 100%;
}
td,
th {
    padding: 5px;
}
tbody tr:nth-child(even) {
    background-color: var(--light-grey-color);
}
thead th {
    font-size: 105%;
    text-align: left;
}
thead tr {
    background-color: var(--medium-grey-color);
}
ul {
    line-height: 1.5em;
}
ul ul {
    padding: 0 0 0 15px;
}

/* forms */
button,
input[type="button"],
input[type="submit"] {
    background-color: var(--black-color);
    clear: both;
    color: var(--white-color);
    cursor: pointer;
    display: block;
    font-size: 100%;
    padding: 10px;
    width: 100%;
    -webkit-appearance: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
    background-color: var(--grey-color);
    color: var(--light-grey-color);
}
fieldset {
    background-color: var(--light-grey-color);
    border: 1px solid var(--medium-grey-color);
    border-radius: 5px;
    clear: both;
    display: table;
    margin: 10px 0 20px;
    padding: 15px;
}
input[type="email"],
input[type="file"],
input[type="number"],
input[type="password"],
input[type="text"] {
    border: 1px solid var(--medium-grey-color);
    font-size: 100%;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}
input[type="email"]:focus,
input[type="file"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
textarea:focus {
    border-color: var(--grey-color);
}
select {
    border: 1px solid var(--medium-grey-color);
    height: 34px;
    margin: 0 0 5px;
}
option {
    padding: 3px 5px;
}
select[multiple="multiple"] {
    height: auto;
}
select[multiple="multiple"] option {
    padding: 5px;
}
textarea {
    border: 1px solid var(--medium-grey-color);
    display: block;
    font-family: sans-serif;
    font-size: 100%;
    height: 130px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

/* header */
header h1 {
    float: left;
    margin: 0 var(--default-margin) 0 0;
}
header h1 a {
    background-image: url(../images/logo.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: var(--header-height);
    text-indent: -9000px;
    width: 271px;
}
header h1 a:hover {
    opacity: 0.8;
}
header nav {
    float: right;
}
header nav a {
    color: var(--black-color);
    display: block;
    float: left;
    font-size: 120%;
    font-weight: 600;
    height: var(--header-height);
    line-height: var(--header-height);
    margin: 0 0 0 30px;
    text-decoration: none;
}
header nav a:hover {
    color: var(--grey-color);
    text-decoration: none;
}

/* sections */
aside {
    float: right;
    padding: var(--default-inner-margin) 0;
    width: 20%;
}
main > section {
    float: left;
    padding: var(--default-inner-margin) var(--default-margin) var(--default-inner-margin) 0;
    width: 80%;
}
main ol,
main ul {
    padding: 0 0 10px 20px;
}
main p {
    line-height: 1.5em;
    padding: 0 0 5px;
}

/* footer */
footer,
footer a {
    color: var(--grey-color);
}
footer a:hover {
    color: var(--medium-grey-color);
}
footer > a {
    float: right;
}
footer dl {
    float: left;
}

/* extra */
.breadcrumbs {
    padding: 0 0 10px;
}
.container {
    clear: both;
    display: inline-block;
    margin: 0 auto;
    padding: var(--default-margin);
    width: 100%;
}

/* Media-queries */
@media print {
    * {
        background-color: transparent !important;
        color: #000 !important;
        margin: 0 !important;
        padding: 0 !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a:after {
        content: " ("attr(href)")";
    }
    a[href^="javascript:"]:after,
    a[href^="#"]:after { 
        content: ""; 
    }
    body {
        color: #000;
        font: 9pt serif;
        line-height: 1.4em;
    }
    h1 {
        width: 100%;
    }
    h1 a:after {
        content: "";
    }
    img {
        max-width: 100%;
    }
    p {
        orphans: 3;
        widows: 3;
    }
    p a {
        word-wrap: break-word;
    }
}
@media screen and (max-width: 1024px) {
    main > section,
    aside {
        display: inline-block;
        float: none;
        padding: 0 0 var(--default-inner-margin);
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    :root {
        --default-inner-margin: 20px;
        --default-margin: 20px;
        --header-height: 50px;
    }
    header h1 {
        float: left;
        margin: 0;
        width: 100%;
    }
    header h1 a {
        background-position: center 0;
        width: 100%;
    }
    nav {
        display: inline-block;
        float: none;
        padding: var(--default-inner-margin) 0 var(--default-margin);
        width: 100%;
    }
    nav a {
        margin: 0;
        text-align: center;
        width: 100%;
    }
}
@media only screen and (max-device-width: 480px), only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait), only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    nav a {
        font-size: 120%;
    }
}
